/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);
/* load Google Fonts */
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap";

//colors
$blue_light: #507aaa;
$blue_medium: #0b1d46;
$blue_dark: #0c0a32;
$grey_light: #c6c6c6;
$white: #ffffff;
$yellow_light: #ffdead;
$yellow_medium: #e7b773;

//fonts
$raleway: 'Raleway';
$helvetica: 'Helvetica';
$arial: 'Arial';
$lucida: 'Lucida';
$font_type: 'sans-serif';

//urls
$background_image: url('../images/Reach-Background.jpg');

body {
  font-family: $raleway, $helvetica, $arial, $lucida, $font_type;
}
#content {
  h1 {
    color: $blue_medium;
  }
  .tabs {
    font-size: 1.3em;
    ul li a.selected {
      color: $blue_medium;
    }
  }
}
h2 {
  color: $blue_medium;
}
h3 {
  color: $blue_medium;
  font-size: 1.6em;
}
h4 {
  color: $blue_medium;
}
#header {
  background: $blue_light $background_image no-repeat 2px;
  min-height: 13em;
  > h1 {
    display: none;
  }
}
#main-menu {
  left: auto;
  right: 0;
  li a {
    font-size: 1.5em;
    margin-left: 5px;
    margin-right: 5px;
    &.selected {
      color: $blue_medium;
    }
  }
}
#top-menu {
  background: $blue_dark;
  height: 30px;
  padding: 15px;
  font-family: $raleway, $helvetica, $arial, $lucida, $font_type;
  > ul {
    font-size: 1.8em;
  }
  li {
    margin-right: 10px;
    > a:hover {
      text-decoration: none;
      color: $grey_light;
    }
  }
}
#account {
  font-size: 1.8em;
}
#loggedas {
  font-size: 1.8em;
  a:hover {
    text-decoration: none;
    color: $grey_light;
  }
}
#reach-logo {
  margin: 20px;
  max-height: 60px;
  width: auto;
}
#login-form {
  font-size: 1.3em;
  color: $white;
  background-color: $blue_medium;
  border: $blue_dark;
}
.lost_password {
  color: $white !important;
  &:hover {
    text-decoration: none !important;
    color: $grey_light !important;
  }
}
#quick-search {
  margin: 20px;
  #q {
    height: 35px;
    margin-left: 10px;
    font-size: 1.5em;
    margin-top: 0;
  }
  > form > label > a {
    font-size: 1.5em;
    &:hover {
      text-decoration: none;
    }
  }
}
#project-jump {
  &.drdn {
    width: 200px;
    display: inline-block;
    font-size: 1.5em;
  }
  .drdn-trigger {
    height: 35px;
  }
}
#query_form_content {
  font-size: 1.2em;
}
.buttons {
  font-size: 1.2em;
}
#errorExplanation {
  font-size: 1.5em;
}
.nodata {
  font-size: 1.5em;
}
.warning {
  font-size: 1.5em;
}
.conflict {
  font-size: 1.5em;
}
#sidebar {
  background-color: $blue_medium;
  color: $white;
  h3 {
    color: $white;
    font-size: 1.3em;
  }
  a {
    color: $yellow_light;
    &:hover {
      color: $yellow_medium;
      text-decoration: none;
    }
  }
  ul li {
    color: $white;
    font-size: 1.2em;
    label a {
      color: $white;
      font-size: 1.2em;
    }
  }
}
input {
  font-size: 1em;
}
select {
  font-size: 1em;
}
textarea {
  font-size: 1em;
}
button {
  font-size: 1em;
}
#admin-menu {
  background-color: $blue_medium;
  padding: 20px;
  a {
    color: $white;
    font-size: 1.2em;
    &:hover {
      text-decoration: none;
    }
    &.selected {
      background-color: $blue_light;
      color: $white;
    }
  }
}
.tabular {
  label {
    width: 230px;
    margin-right: 10px;
  }
  input {
    max-width: 80%;
  }
  select {
    max-width: 80%;
  }
}
legend {
  font-size: 1.3em;
}
.contextual {
  font-size: 1.3em;
}
.issue-report {
  font-size: 1.3em;
  a:hover {
    text-decoration: none;
  }
}
.box {
  font-size: 1.2em;
}
input[type="submit"] {
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  border-width: medium;
  border-color: $blue_dark;
  color: $blue_dark;
  font-size: 1.5em;
}
@media screen and(max-width: 899px) {
  #reach-logo {
    display: none;
  }
  .flyout-menu {
    background-color: $blue_medium !important;
  }
  #login-form {
    input {
      height: 32px !important;
    }
    input[type=submit] {
      height: 50px !important;
      border-width: medium;
      border-color: $blue_dark;
      color: $blue_dark;
    }
  }
}
div.flash {
  font-size: 1.5em;
}
.pagination ul.pages li a {
  font-size: 1.3em;
}
.splitcontentleft > ul > li {
  font-size: 1.3em;
}